  <center>
  <div class="wrapper">
    <form action="/register" method="POST" class="form-signin">       
      <h2 class="form-signin-heading">Please Register</h2>
      <input type="text" class="form-control" name="username" placeholder="username"  autofocus="" /><br><br>
       <input type="text" class="form-control" name="email" placeholder="Email Address"  autofocus="" /><br><br>
        <input type="text" class="form-control" name="mobile" placeholder="Mobile"  autofocus="" /><br><br>
        <label class="radio inline">
            <input type="radio" name="gender" value="male" checked>
<span>Male</span>
        </label>
        <label class="radio inline">
            <input type="radio" name="gender" value="male" checked>
            <span>Female</span>
        </label><br><br>
         <input type="text" class="form-control" name="city" placeholder="City"  autofocus="" /><br><br>
      <input type="text" class="form-control" name="password" placeholder="Password" />   <br>   <br>
      <input type="text" class="form-control" name="cpassword" placeholder="Confirm Password" />   <br>   <br>
      <input type="submit" class="btnRegister" value="Register" />   
    </form>
  </div>
 </center>